.logo{
position: absolute;
width: 31.09px;
height: 48px;
left: 84px;
top: 40px;
}

.main{
position: relative;
margin: 0 auto;
width: 1440px;
height: 1024px;

/* Light blue/light-blue-100 */

background: #F3F5FC;
}

.tablero{   
    width: 1200px;
    height: 800px;
 flex:auto;
}

.horca{
position: absolute;
width: 294px;
height: 360px;
left: 573px;
top: 148px;
}

.letras{
    /* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

position: absolute;
width: 464px;
height: 152px;
left: 488px;
top: 628px;


}

.btn-iniciar{
    /* Auto layout */

/* display: flex; */
flex-direction: row;
align-items: flex-start;
text-align: center;
justify-content: center;
padding: 24px;
gap: 8px;

position: absolute;
width: 317px;
height: 114px;
left: 561px;
top: 402px;

/* Dark blue/dark-blue-300 */
color: white;
background: #0A3871;
border-radius: 24px;


}

.btn-palabra{
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 24px;
    gap: 8px;
    
    position: absolute;
    width: 280px;
    height: 67px;
    left: 579px;
    top: 554px;
    
    /* Dark blue/dark-blue-300 */
    
    border: 1px solid #0A3871;
    border-radius: 24px;

}

.letra{
/* Keyboard */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

position: absolute;
width: 464px;
height: 152px;
left: 488px;
top: 628px;




}

.otras-letras{

/* Other letters */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 136px;
height: 36px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;




}


.buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
    position: absolute;
    width: 688px;
    height: 67px;
    left: 376px;
    top: 701px; 

}

.btn-jugar , .btn-guardar{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 24px;
gap: 8px;

width: 332px;
height: 67px;

/* Dark blue/dark-blue-300 */
color: #FFFFFF;
background: #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}

.btn-desistir ,.btn-cancelar{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 24px;
gap: 8px;

width: 332px;
height: 67px;

/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
}

.texto{
    position: absolute;
width: 299px;
height: 48px;
left: 376px;
top: 256px;
    cursor: pointer;

    font-family: 'Inter';  
    font-style: normal;  
    font-weight: 400;
    font-size: 32px;    
    letter-spacing: 0;
    line-height: 150%;
    justify-content: baseline;
    resize: none;  
    /* white-space: nowrap; */
    color: #0A3871;
    background: transparent;
    border: none;
    overflow: hidden;
    
}

.frame-1{
/* Frame 1 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 145px;
height: 18px;
left: 376px;
top: 667px;

}


